# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Dependencias de Node
**/node_modules/
.pnp
.pnp.js

# Archivos de entorno
.env
.env.local
.env.development
.env.production

# Logs y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Directorios de build y compilación
dist/
build/
*.tsbuildinfo

# Configuración de IDE
.idea/
.vscode/
*.swp
*.swo